<% if( index === true ){ %>
  <img src="/images/wwktm.gif" /> <br />
  <ul class="post-list expanded unstyled">
  <% i=0 %>
  <% var prevYM = "" %>
  <% page.posts.each(function(post){ %>
      <% i++ %>
      <% if (i<3) { %>
        <li>
          <div class="meta">
            <div class="title">  <a href="<%- url_for(post.path) %>"><%= post.title %></a></div>
            <div><%= date(post.date, 'YYYY MMM') %> </div>
          </div>
          <div class="content">
            <%- post.content %>
          </div>
        </li>
      <% } else { %>
        <% if(i==3) { %>
          </ul><ul class="post-list unstyled">
        <% } %>
        <% if (prevYM != date(post.date, 'YYYY MMM')){ %>
          <% prevYM = date(post.date, 'YYYY MMM') %>
          <div class="date"><%= prevYM %></div>
        <% } %>
        <li> <a href="<%- url_for(post.path) %>"><%= post.title %></a> </li>
      <% } %>
  <% }) %>
  </ul>

<% } else { %>
  <h1> Archives </h1>
  <ul class="post-list unstyled">
  <% page.posts.each(function(post){ %>
    <li>
      <%= date(post.date, 'MMM YY') %>  <a href="<%- url_for(post.path) %>"><%= post.title %></a>
  </li>
  <% }) %>
  </ul>
<% } %>
